@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100);
@import url(https://fonts.googleapis.com/css?family=Armata|Didact+Gothic|Philosopher);
section#skill ul {
  float: left;
  margin: 0;
  padding: 5%;
  width: 100%; }

section#skill ul li {
  height: 30px;
  background-position: 20px 24px;
  border-radius: 3px;
  box-shadow: 1px 1px 12px -5px #999 inset;
  color: #000;
  font-weight: bold;
  cursor: default;
  float: left;
  font-size: 15px;
  line-height: 20px;
  list-style-type: none;
  margin: 0 0 10px;
  opacity: 0.8;
  overflow: hidden;
  padding: 0;
  text-align: left;
  text-shadow: 0px -1px 0px #fff;
  width: 100%;
  margin-top: 9px;
  display: flex;
  align-items: center; }

section#skill ul li .img {
  border: 18px solid transparent;
  margin-right: 15px;
  margin-top: 0;
  background: #509b9e; }
  section#skill ul li .img img {
    width: 40px; }

section#skill .s_responsive .img {
  border-color: #509b9e; }

section#skill .s_fotografia .img {
  border-color: #509b9e; }

section#skill .s_video .img {
  border-color: #509b9e; }

section#skill .s_imagen .img {
  border-color: #509b9e; }

section#skill .s_animacion .img {
  border-color: #40787b; }

/*lhtm*/
section#skill .s_responsive {
  background-image: linear-gradient(to right, transparent 32px, aliceblue 32px, aliceblue 99%, aliceblue 100%);
  background-repeat: repeat-y;
  background-size: 60% auto;
  /*  animation: s_responsive 1.9s ease-in-out;*/ }

.anime1 {
  animation: s_responsive 1.9s ease-in-out; }

/*fotografia*/
section#skill .s_fotografia {
  background-image: linear-gradient(to right, transparent 32px, aliceblue 32px, aliceblue 99%, aliceblue 100%);
  background-repeat: repeat-y;
  background-size: 40% auto;
  /*  animation: s_fotografia 1.6s ease-in-out;*/ }

.anime2 {
  animation: s_fotografia 1.6s ease-in-out; }

/*video*/
section#skill .s_video {
  background-image: linear-gradient(to right, aliceblue 0%, aliceblue 99%, aliceblue 100%);
  background-repeat: repeat-y;
  background-size: 35% auto;
  /*  */ }

.anime3 {
  animation: s_video 1.2s ease-in-out; }

/*imagen*/
section#skill .s_imagen {
  background-image: linear-gradient(to right, aliceblue 0%, aliceblue 50%, aliceblue 100%);
  background-repeat: repeat-y;
  background-size: 50% auto;
  /*  animation: s_imagen 1.8s ease-in-out;*/ }

.anime4 {
  animation: s_imagen 1.8s ease-in-out; }

/*animacion*/
section#skill.s_animacion {
  background-image: linear-gradient(to right, rgba(107, 107, 107, 0.8) 0%, rgba(107, 107, 107, 0.8) 99%, #6b6b6b 100%);
  background-repeat: repeat-y;
  background-size: 70% auto;
  /*  animation: s_animacion 1.4s ease-in-out;*/ }

.anime5 {
  animation: s_animacion 1.4s ease-in-out; }

@keyframes s_responsive {
  0% {
    background-size: 0% auto; }
  100% {
    background-size: 60% auto; } }
@keyframes s_imagen {
  0% {
    background-size: 0% auto; }
  100% {
    background-size: 50% auto; } }
@keyframes s_fotografia {
  0% {
    background-size: 0% auto; }
  100% {
    background-size: 40% auto; } }
@keyframes s_video {
  0% {
    background-size: 0% auto; }
  100% {
    background-size: 35% auto; } }
@keyframes s_animacion {
  0% {
    background-size: 0% auto; }
  100% {
    background-size: 70% auto; } }
.icon-linkedin-with-circle:before {
  content: "\e900";
  color: white; }

#mouse-icon {
  width: 17px;
  height: 25px;
  display: block;
  margin: -20px 0 0 -7px;
  border: 3px solid #fff;
  position: absolute;
  z-index: 700;
  opacity: 0.5;
  left: 50%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

#mouse-icon::before {
  content: 'SCROLL';
  width: 80px;
  display: block;
  margin: 0 0 0 -30px;
  position: absolute;
  left: 50%;
  text-align: center;
  font: 1em 'Dosis', sans-serif;
  color: #fff;
  font-weight: 900;
  opacity: 0;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.5s ease-in-out; }

#mouse-icon:hover {
  opacity: 1;
  cursor: pointer; }

#mouse-icon:hover:before {
  margin-top: -30px;
  opacity: 1;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1); }

#scroll-wheel {
  width: 5px;
  height: 6px;
  display: block;
  position: absolute;
  top: 2px;
  left: 3px;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-animation: scrollWheel 1s linear infinite;
  -moz-animation: scrollWheel 1s linear infinite;
  -o-animation: scrollWheel 1s linear infinite;
  animation: scrollWheel 1s linear infinite; }

@-webkit-keyframes scrollWheel {
  0% {
    top: 5px;
    opacity: 1; }
  100% {
    top: 20px;
    opacity: 0; } }
@-moz-keyframes scrollWheel {
  0% {
    top: 5px;
    opacity: 1; }
  100% {
    top: 20px;
    opacity: 0; } }
@-o-keyframes scrollWheel {
  0% {
    top: 5px;
    opacity: 1; }
  100% {
    top: 20px;
    opacity: 0; } }
/***********************tirulo gneral*******/
.bubbles {
  font-family: arial;
  position: fixed;
  margin-left: 35%; }

.bubbles h1 {
  margin: 1em 0 0;
  font-family: 'Alegreya', serif;
  font-weight: 200;
  color: #fff;
  z-index: 2; }

.individual-bubble {
  position: absolute;
  border-radius: 100%;
  bottom: 10px;
  background-color: #fff;
  z-index: 1; }

@media only screen and (max-width: 1025px) {
  #about-me {
    height: 100vh  !important;
    padding-top: 100px !important;
    font-size: 30px; }
    #about-me .contain .svg-wrapper {
      font-size: 50px; }
      #about-me .contain .svg-wrapper .text {
        font-size: 30px;
        line-height: 0px;
        font-weight: bold;
        text-align: center; }

  .contain .me img {
    width: 250px !important; }

  .contain .contain2 .meo .name .date {
    margin-top: 20px; }
    .contain .contain2 .meo .name .date #correo {
      font-size: 23px !important; }
    .contain .contain2 .meo .name .date #name {
      font-size: 23px !important;
      margin-top: 50px; }

  #skill {
    height: 100vh  !important; }
    #skill .calcular {
      top: 200px !important; }
    #skill ul li {
      height: 60px  !important;
      margin-top: 20px  !important;
      font-size: 25px !important; }
    #skill .banner {
      font-size: 22px;
      padding: 8px 12px 7px; }
    #skill .svg-wrapper {
      font-size: 50px; }
      #skill .svg-wrapper .text {
        font-size: 30px;
        line-height: 0px;
        font-weight: bold;
        text-align: center; }

  #formulario .form-contact {
    border-radius: 0px !important;
    margin-left: 152;
    height: 100vh; } }
.modal-form {
  background: url("../pictures/worldmapform.jpg") no-repeat; }

* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  color: black; }

.hero {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(54, 72, 120, 0.6); }

/****************header*********/
header {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%; }
  header .navbar {
    margin-bottom: 0px; }
  header .navbar-default {
    background-color: transparent;
    border-color: transparent; }
    header .navbar-default .navbar-toggle {
      border-color: transparent; }
      header .navbar-default .navbar-toggle:hover {
        background-color: transparent; }
    header .navbar-default .navbar-nav > li {
      padding: 7px 3px 5px 3px; }
      header .navbar-default .navbar-nav > li a {
        color: aliceblue;
        font-weight: bold;
        padding-bottom: 2px;
        font-weight: bolder;
        border-bottom: 2px solid transparent;
        letter-spacing: 1px; }
        header .navbar-default .navbar-nav > li a:hover {
          color: aliceblue;
          border-bottom-color: #e9727e; }
  header .navbar-brand img {
    width: 40px;
    top: 10px;
    position: absolute; }

.color-header {
  background: rgba(0, 0, 0, 0.6);
  font-weight: 600; }

#contenedor_general {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  background-size: cover;
  background-position: center 0px;
  background-repeat: no-repeat;
  overflow: hidden; }
  #contenedor_general .slider .slidesjs-pagination, #contenedor_general .slider .slidesjs-navigation, #contenedor_general .slider .slidesjs-stop {
    display: none; }

section#body {
  width: 100%;
  min-height: 700px;
  overflow: hidden;
  margin-top: -80px !important; }
  section#body section#scrolldown {
    margin: auto;
    width: 200px;
    height: 60px; }
    section#body section#scrolldown #mouse-icon {
      text-align: center; }
    section#body section#scrolldown #menorque {
      -webkit-transform: rotate(270deg);
      text-align: center;
      color: white;
      font-size: 1.3em; }

/*********about me*************/
section#about-me {
  padding: 29px 0px;
  width: 1310px;
  position: relative;
  left: 50%;
  margin-left: -655px;
  background-color: white;
  height: 680px; }
  section#about-me .contain {
    display: table-cell;
    vertical-align: middle; }
    section#about-me .contain .svg-wrapper {
      margin-bottom: 40px; }
    section#about-me .contain .me img {
      width: 150px; }
    section#about-me .contain .date {
      display: table-cell;
      vertical-align: middle; }
      section#about-me .contain .date h5, section#about-me .contain .date p {
        margin-top: 20px;
        color: black;
        font-family: "Didact Gothic"; }
        section#about-me .contain .date h5 a, section#about-me .contain .date p a {
          text-decoration-line: none; }
      section#about-me .contain .date #name, section#about-me .contain .date #correo, section#about-me .contain .date #cv {
        font-size: 15px;
        font-weight: 500;
        font-family: Philosopher;
        text-transform: uppercase;
        text-decoration-line: none; }
      section#about-me .contain .date #name:hover, section#about-me .contain .date #correo:hover, section#about-me .contain .date #cv:hover {
        background: rgba(233, 114, 126, 0.6);
        border-radius: 10px;
        padding: 10px 10px; }

#about-me .contain .bio .biografia .descripcion {
  margin-top: 30px; }
  #about-me .contain .bio .biografia .descripcion p {
    font-family: "Didact Gothic";
    color: black;
    text-align: left;
    padding-left: 30px; }
#about-me .contain .contain2 .meo .name .date {
  font-family: 'Merriweather';
  color: black;
  text-align: left;
  padding-left: 30px; }

/**********************portafolio**************/
section#box {
  padding: 29px 0px;
  width: 1310px;
  position: relative;
  left: 50%;
  margin-left: -655px;
  background: #fff;
  padding-top: 30px;
  height: 150px; }

#portafolio {
  padding: 29px 0px;
  width: 1310px;
  position: relative;
  left: 50%;
  margin-left: -655px;
  height: 530px;
  background: url("../pictures/pcs.jpg"); }
  #portafolio .main {
    width: 485px;
    height: 279px;
    margin: 0px auto;
    padding-left: 15px;
    overflow: visible; }
    #portafolio .main .slides {
      width: 100%; }
      #portafolio .main .slides .cont-img {
        position: relative;
        background: rgba(0, 0, 0, 0.8);
        z-index: 2; }
        #portafolio .main .slides .cont-img img {
          width: 100%; }
      #portafolio .main .slides .cont-img:hover .hov2 {
        background-size: cover;
        opacity: 1; }
      #portafolio .main .slides .cont-img:hover .hov3 {
        background-size: cover;
        opacity: 1; }
      #portafolio .main .slides .cont-img:hover .opacity {
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        opacity: 1; }
    #portafolio .main .opacity {
      position: absolute;
      font-size: 40px;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 20;
      transition: all 0.5s;
      background-size: cover; }
      #portafolio .main .opacity p {
        color: aliceblue;
        font-weight: bold; }
    #portafolio .main .slidesjs-pagination {
      background: #424242;
      list-style: none;
      overflow: hidden; }
      #portafolio .main .slidesjs-pagination li {
        float: left; }
        #portafolio .main .slidesjs-pagination li a {
          display: block;
          padding: 3px 8px;
          color: #fff;
          text-decoration: none; }
          #portafolio .main .slidesjs-pagination li a:hover {
            background: #000; }
    #portafolio .main .slidesjs-navigation {
      background: #000;
      color: #fff;
      text-decoration: none;
      display: inline-block;
      padding: 5px 8px;
      float: right; }

/***************************skill********************/
section#skill {
  height: 670px;
  padding: 29px 0px;
  width: 1310px;
  position: relative;
  left: 50%;
  margin-left: -655px;
  margin-top: -20px;
  background: #509b9e; }
  section#skill .title-1 .svg-wrapper {
    margin-top: -50px !important; }
  section#skill .calcular {
    height: 80%;
    top: 145px;
    position: absolute;
    width: 80%; }
    section#skill .calcular #name-skil ul {
      margin-top: 40px; }
  section#skill .nivels .nivel1 {
    left: 13.5%; }
  section#skill .nivels .nivel2 {
    left: 40%; }
  section#skill .nivels .nivel3 {
    left: 73%; }
  section#skill .text {
    color: aliceblue; }

.nivel {
  position: absolute;
  bottom: 0;
  height: 100%; }

.basic {
  position: absolute;
  width: 2px;
  height: 90%;
  background: #dd7785;
  z-index: 5;
  margin-top: 30px; }

.banner {
  position: absolute;
  padding: 6px 10px 5px;
  background-color: #e9727e;
  font-family: 'Montserrat';
  color: #FFF;
  font-size: 18px;
  margin-top: 30px; }

section#skill .html {
  transition-timing-function: linear; }

/********************efeCTO LITULOS *********/
section#about-me {
  overflow: hidden;
  text-align: center; }

.svg-wrapper {
  height: 60px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
  margin-top: 65px; }

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #e9727e; }

.text {
  color: #292727;
  font-weight: 600;
  font-family: 'Roboto Condensed';
  font-size: 22px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -48px; }

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px; }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px; } }
.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards; }

/******************contacto**************/
#contacto {
  background-color: #dd7785; }
  #contacto .container {
    padding-top: 30px;
    padding-bottom: 30px; }
    #contacto .container .lest #contacto-form .mini {
      text-transform: uppercase;
      font-family: "Montserrat";
      color: white; }
    #contacto .container .lest #contacto-form .sub {
      font-size: 18px;
      font-family: "Libre Baskerville";
      font-style: italic;
      font-weight: 400;
      color: #fff; }
    #contacto .container .lest #contacto-form .strong {
      font-family: "Montserrat";
      font-weight: 700;
      font-style: normal;
      font-size: 30px;
      margin: 5px auto; }
    #contacto .container .lest #contacto-form button {
      text-indent: 0px;
      padding: 10px 20px;
      background: transparent;
      border-radius: 5px;
      border: 2px solid white;
      color: white;
      font-size: 20px; }
  #contacto .carousel-inner .item {
    width: 100%;
    height: 360px; }
  #contacto .yo-mas {
    height: 360px; }
    #contacto .yo-mas .social {
      background: 90% url("../pictures/3.jpg");
      background-size: cover;
      height: 100%;
      background-color: transparent;
      margin: 0;
      padding: 0; }
      #contacto .yo-mas .social .redes {
        background: rgba(240, 248, 255, 0.7);
        text-align: center;
        height: 100%;
        top: -10;
        width: 100%;
        vertical-align: middle;
        position: absolute;
        color: #000; }
        #contacto .yo-mas .social .redes h1 {
          margin-top: 60px;
          color: #000; }
        #contacto .yo-mas .social .redes p {
          color: #000; }
        #contacto .yo-mas .social .redes img {
          width: 60px; }

contac {
  padding: 29px 0px;
  width: 1310px;
  position: relative;
  left: 50%;
  margin-left: -655px;
  height: 580px;
  display: none;
  opacity: 0;
  bottom: 0;
  padding-bottom: 0px; }

.visible {
  opacity: 1;
  display: table; }

/*************formulario flotante---*/
#formulario {
  z-index: 100;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  height: 100vh; }
  #formulario .form-contact {
    background: rgba(0, 0, 0, 0.9);
    background: url("../pictures/worldmapform.jpg");
    color: #fff;
    padding: 100px 80px 80px;
    position: fixed;
    border-radius: 50%; }
    #formulario .form-contact .glyphicon {
      color: white; }
    #formulario .form-contact .email {
      background: url(../pictures/contact-email-gray.png) 20px center no-repeat transparent; }
    #formulario .form-contact .name {
      background: url(../pictures/contact-name-gray.png) 20px center no-repeat transparent; }
    #formulario .form-contact .text {
      width: 100%;
      font-weight: 300px;
      margin-top: -35px;
      font-size: 17px;
      max-width: 470px;
      margin-bottom: 33px;
      border: 1px solid #fff;
      border-radius: 4px;
      color: #fff;
      height: 47px;
      line-height: 47px;
      padding: 0px 15px 0px 0px;
      text-indent: 64px;
      font-family: "Raleway"; }
    #formulario .form-contact .area {
      height: 140px;
      line-height: 23px;
      text-indent: 0px;
      padding: 17px 20px;
      background: transparent;
      margin-top: 20px;
      width: 100%;
      border-radius: 5px; }
    #formulario .form-contact .enviar {
      text-indent: 0px;
      padding: 10px 20px;
      background: transparent;
      border-radius: 5px;
      border: 2px solid white;
      color: white;
      font-size: 20px; }

/************footer**********/
footer {
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: relative;
  margin-top: -10px; }
  footer .pie-pagina {
    color: aliceblue; }
    footer .pie-pagina h4 {
      font-weight: 400px; }
      footer .pie-pagina h4 i {
        color: aliceblue; }

/*********************mediA*******/

/*# sourceMappingURL=main.css.map */
