@media only screen and (max-width: 1025px) {
    #about-me{
        height: 100vh  !important;
    padding-top: 100px !important;
        font-size: 30px;
        .contain .svg-wrapper{
            font-size: 50px;
            .text{
                font-size: 30px;
                line-height: 0px;
                font-weight: bold;
                text-align: center;
            }
        }
    }
    .contain .me img{
        width: 250px !important;
    }
    .contain .contain2 .meo .name .date 
    {
            margin-top: 20px;
    
    #correo{
        font-size: 23px !important;
    }
    #name{
        font-size: 23px !important;
        margin-top: 50px;
    }
    }
    #skill{
        .calcular{
            top:200px !important;
        }
         height: 100vh  !important;
       
        ul li{
            height: 60px  !important;
            margin-top: 20px  !important;
            font-size: 25px !important;
        }
        .banner {
            font-size: 22px;
            padding: 8px 12px 7px;
            
        }
        .svg-wrapper{
            font-size: 50px;
            .text{
                font-size: 30px;
                line-height: 0px;
                font-weight: bold;
                text-align: center;
            }
        }
    }
    #formulario .form-contact{
           
            border-radius: 0px !important;
        margin-left: 152;
        height: 100vh;
        
        .form{
            width: 100vw;
        }
        
    }
    #contacto .carousel-inner .item{
       height: 550px !important; 
    }  

}
.modal-form {

    background:url('../pictures/worldmapform.jpg') no-repeat;}